body {
    margin: 0 auto; 
    width:64em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    /* height:100vh; */
    /* min-height: 54em; */
    padding:2em 2em 1em;
    box-sizing: border-box;
    background-attachment: fixed;

}
h1, h2 {
    margin-bottom:.4em;
}
.try, .status {
    border: solid black .125em;
    border-radius: .45rem;
    padding:1rem;
    text-align: center;
    height: 6.5rem;
    margin-top:3rem;
    width:20rem;
    background: rgba(39, 39, 39, 0.89);
    color:rgb(226, 226, 226);
    box-sizing: border-box;
}
.try {
    font-size: 1.2em;
    font-weight: 900;
    float:left;
}

.status {
    font-size: 1.2em;
    float:right;
}
.letterHolder {
    margin: 4.5rem auto 1rem;
    text-align: center;
    padding: 1rem 0rem 2rem 0rem;
    border-radius: .45rem;
    background: rgba(199, 199, 199, 0.76);
    border:solid rgb(32, 32, 32) .125rem;
}

.letterBox {
    border-bottom: solid 2px black;
    min-height: 4.5rem;
    min-width: 4.5rem;
    display: inline-block;
    margin-right: .5rem;
    text-align: center;
    font-size:4em;
box-shadow: black;
}

#start:hover {
    cursor: pointer;

}

#start {
    padding: 1em;
    color: #fff;
    background: green;
    display: inline-block;
    border-radius: 4em;
    text-align: center;
    margin-top: 3rem;
    clear: both;
    font-size: 2rem;
    /* border:.25rem solid rgb(3, 209, 3); */
    box-shadow: inset -3px -3px 12px -4px rgb(0, 68, 0);
    transition: all 50ms linear;
    text-transform: capitalize;
    }

#start:hover {
    box-shadow: inset 3px 3px 12px -2px rgb(0, 60, 0), inset -2px -2px 1px -0px rgb(0, 65, 5);
    background: rgb(0, 120, 0);
    transform: translate(1px, 1px);
}

#title {
    box-sizing: border-box;
    padding-left:3rem;
    margin-top: 1em;
    margin-bottom:1.5em;
}
.small {
    position: relative;
    top:1.5em;
    left:-6rem;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#gameOver {
    position: fixed;
    top:50%;
 left:50%;
 margin-left:-20rem;
 margin-top:-17.5rem;
    height: 35rem;
    width: 40rem;
    background: rgba(80, 80, 80, 0.9);
    text-align: center;
    z-index: 100;
    padding-top: 20%;
    box-sizing: border-box;
    border-radius: 1.3rem;
    color:orange;
}

#wrap {
    /* border: rgba(44, 44, 44, 0.384) solid .125em; */
    padding:0em 6em 5em;
    border-radius: .5em;
    /* margin-top:2em; */
    /* margin-bottom:2em; */
    /* background: rgba(163, 163, 163, 0.266); */
    box-sizing: content-box;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
  }